<?xml version="1.0"?>
<config>
  <modules>
    <Gremlintech_RelatedCategories>
      <version>1.0.0</version>
    </Gremlintech_RelatedCategories>
  </modules>
  <frontend>
		<layout>
		  <updates>
			<relatedcategories>
			  <file>gremlintech/relatedcategories.xml</file>
			</relatedcategories>
		  </updates>
		</layout>
        <events>
          <core_block_abstract_to_html_before>
            <observers>
              <relatedcategories>
                <type>model</type>
                <class>relatedcategories/observer</class>
                <method>insertBlock</method>
              </relatedcategories>
            </observers>
          </core_block_abstract_to_html_before>
        </events>
  </frontend>
  <global>
    <models>
      <relatedcategories>
        <class>Gremlintech_RelatedCategories_Model</class>
      </relatedcategories>
    </models>
    <helpers>
      <relatedcategories>
        <class>Gremlintech_RelatedCategories_Helper</class>
      </relatedcategories>
    </helpers>
	<blocks>
	  <relatedcategories>
		<class>Gremlintech_RelatedCategories_Block</class>
	  </relatedcategories>
	</blocks>
  </global>
</config> 